---
layout: page
---

<article>
	  
  <p><strong>{{ site.conference.name }} will take place in {{ site.conference.location }} from {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.</strong></p>
  
  {{ content }}
    
  
  {% if site.conference.sponsors %}
  <p><strong>Sponsors</strong></p>

  <p>This event is sponsored and co-organized by
  {% for sponsor in site.conference.sponsors %}
  <br>{% include listsponsor.html %}</br>
  {% endfor %}
  </p>
  {% endif %}

  {% if site.conference.organizers %}
  <p><strong>Organizers</strong></p>

  {% assign lastone = site.conference.organizers | last %}
  {% for person in site.conference.organizers %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

  {% if site.conference.local %}
  {% assign lastone = site.conference.local | last %}
  <p>Local Chair:
  {% for person in site.conference.local %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

  {% if site.conference.general %}
  {% assign lastone = site.conference.general | last %}
  <p>General Chair:
  {% for person in site.conference.general %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

  {% if site.conference.symposium %}
  {% assign lastone = site.conference.symposium | last %}
  <p>Symposium Chair:
  {% for person in site.conference.symposium %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

  {% if site.conference.workshop %}
  {% assign lastone = site.conference.workshop | last %}
  <p>Workshops Chair:
  {% for person in site.conference.workshop %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

  {% if site.conference.fundraising %}
  {% assign lastone = site.conference.fundraising | last %}
  <p>Fundraising Chair:</p>
  {% for person in site.conference.fundraising %}
  {% include listperson.html %}
  {% endfor %}
  {% endif %}

  {% if site.conference.assistants %}
  {% assign lastone = site.conference.assistants | last %}
  <p><strong>Organization Assistants</strong></p>
  {% for person in site.conference.assistants %}
  {% include listperson.html %}<br>
  {% endfor %}</p>
  {% endif %}



  {% if site.conference.steering %}
  {% assign lastone = site.conference.steering | last %}
  <p><strong>DALI Steering Committee</strong></p>
  {% for person in site.conference.steering %}
  {% include listperson.html %}
  {% endfor %}</p>
  {% endif %}

</article>




      </div><!-- #content -->
    </div><!-- #primary -->
    
    
    

  </div><!-- .inner-wrap -->
</div><!-- #main -->  


