---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include edit_link.html %}
      
    <p class="post-meta">({% if page.organizers %}{% assign lastone = page.organizers | last %}{% for person in page.organizers %}{% include listperson.html %}{% endfor %}{% endif %} {{ page.date | date: "%b %-d" }})</p>
  </header>
	
	

  <article class="post-content">
    <p>{% if page.organizer_url %}<a href="{{ page.organizer_url }}">Organizer's workshop page</a>{% endif %}</p>

    {% if page.room %}
    <h3>Room: {{ page.room }}</h3>
    {% elsif site.conference.room %}
    <h3>Room: {{ site.conference.room }}</h3>
    {% endif %}
    
    {% if page.abstract %}
	{{page.abstract}}
    {% endif %}	  
	  
    {% if page.speakers %}
    <p>
        Speakers:
        <ul>
            {% for speaker in page.speakers %}
            <li>{{speaker}}</li>
            {% endfor %}  
        </ul>
    </p>
    {% endif %}
      
    <!--    talks list-->
    {% for talk in page.talks %}
    {% include listtalk.html %}
    {% endfor %}



    {% if page.show_abstracts %}
    <br>
    <br>
    <br>
    <h1 style='font-size:2em'>Abstracts</h1>
    <!--    abstracts-->
    {% for talk in page.talks %}
        {% if talk.abstract or talk.bio %}

        <br>
<h4 id='{{talk.title  | remove: ' ' | remove: ':' }}' style='margin-bottom:0'><b>{{ talk.title }}</b></h4>
            {{ talk.speaker }}

            {% if talk.abstract %}
            <h4>Abstract</h4>
            <p style='margin-top:1em'>
                {{ talk.abstract }}
            </p>
	    {% endif %}

            {% if talk.abstract2 %}
                <p style='margin-top:1em'>
                    {{ talk.abstract2 }}
                </p>
            {% endif %}
            {% if talk.abstract3 %}
                <p style='margin-top:1em'>
                    {{ talk.abstract3 }}
                </p>
            {% endif %}
	    {% if talk.bio %}
		<h4>Speaker Bio</h4>
                  <p style='margin-top:1em'>
                    {{ talk.bio }}
		  </p>
            {% endif %}
        </br>
        {% endif %}
    {% endfor %}

    {% endif %}

    {{ content }}
  </article>

</div>
