---
layout: page
title: Program
---
	
<article>

  {% if site.conference.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {{ content }}
  
    <ul>
  {% for post in site.posts reversed %}
  {% if post.layout == "workshop"%}
  <li style='margin-bottom:0.5em'><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({% if post.organizers %}{% for organizer in post.organizers %}{% if organizer.url %}<a href="{{ organizer.url }}">{% endif %}{{ organizer.firstname }} {{ organizer.lastname }}{% if organizer.url %}</a>{% endif %}{% if post.organizers | size>1 %}, {% endif %}{% endfor %}{% endif %} {{ post.date | date: "%A, %B %-d" }})<br>Room: <b>{{ post.room }}</b></li>
  {% endif %}
  {% endfor %}
    </ul>

  <br>
    
  {% for post in site.posts reversed %}
  {% if post.layout == "session" %}
  <br>    
  <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%A, %B %-d" }}</a>  <i>{{ post.tagline }}</i> </p>
  
  {% for talk in post.talks %}
  <p>{{ talk.start }} {% if talk.end %}- {{ talk.end }}{% endif %} <b>{{ talk.title }}</b> {{ talk.speaker }} </p>
  {% endfor %}
  {% endif %}
  {% endfor %}

  
</article>


	
	
