---
layout: page
---
<article>

  <p> DALI is an invitation-only event, and it is not possible to transfer this invitation to others. If you haven't been contacted yet, but you'd like to attend, please e-mail us.</p>

  <p></p>
  
  <p> The registration fee is 400€ for attendees coming from academy and 500€ for those coming from industry. Registration includes symposium and workshops, coffee breaks, and a conference dinner 
    (possibly more). <b> Registration dealine is December 2nd. </b> 
    Space is highly constrained and we cannot guarantee your slot after that date. </p>
    
  <p> Please use the following link to register: <a href="http://gecoweb.gesintur.com/pub/1600006/q2/cgi.hrb?idexp=VJ7FP&main=inscripcion"> <b> Registration </b> </a></p>
  
  <p></p>
  
  <p> Also, the H10 Costa Adeje Palace hotel offers DALI attendees special prices for single, double or family rooms. 
    Booking must be done through the following link: <a href="http://gecoweb.gesintur.com/pub/1600006/q2/cgi.hrb?idexp=VJ7FP&main=alojamientos
      "> <b> Hotel Booking </b> </a></p>

 
  
</article>


