---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include edit_link.html %}
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.tagline %} • {{ page.tagline }}{% endif %}</p>
    
  </header>
  
  <article class="post-content">

    {% if site.conference.draft %}
    <h2>Draft Schedule</h2>
    {% endif %}

    {{ content }}

    {% for post in site.posts reversed %}
    {% unless post.layout == "singletrack" %}
    {% if post.date == page.date %}
    <p><a href="{{ site.url }}/{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></p>
    {% endif %}
    {% endunless %}
    {% endfor %}
    
    {% if page.room %}
    <h3>Room: {{ page.room }}</h3>
    {% elsif site.conference.room %}
    <h3>Room: {{ site.conference.room }}</h3>
    {% endif %}

    {% for talk in page.talks %}
    {% include listtalk.html %}
    {% endfor %}
    
    
    {% if page.show_abstracts %}
    <h1 style='font-size:2em'>Abstracts</h1>
<!--    abstracts-->
    {% for talk in page.talks %}
        {% if talk.abstract %}

        <br>
<h4 id='{{ talk.title | remove: ' ' | remove: ':' }}' style='margin-bottom:0'><b>{{ talk.title }}</b></h4>
            {{ talk.speaker }}


            <p style='margin-top:1em'>
                {{ talk.abstract }}
            </p>
        </br>
        {% endif %}
    {% endfor %}

    {% endif %}

  </article>

</div>
